<component name="ArtifactManager">
  <artifact type="exploded-war" name="springmvc:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springmvc_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springmvc" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.1.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.1.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.1.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.1.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.1.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.1.5.RELEASE" />
          <element id="library" level="project" name="Maven: javax.servlet:jstl:1.2" />
          <element id="library" level="project" name="Maven: javax.el:javax.el-api:3.0.0" />
          <element id="library" level="project" name="Maven: log4j:log4j:1.2.17" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:5.1.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.1.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.1.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.apache.felix:org.osgi.foundation:1.0.0" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="springmvc/web/Web" />
    </root>
  </artifact>
</component>