<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.StudentMapper">


    <select id="queryById" parameterType="int" resultType="com.po.Student">
        select * from student  where  stuId=#{myId};
    </select>
    <select id="queryByName" parameterType="java.lang.String" resultType="com.po.Student">
        select * from student  where  stuName like '%${value}%';
    </select>

    <select id="queryByName2" parameterType="com.po.Student" resultType="com.po.Student">
        select * from student  where  stuName like '%${stuName}%';
    </select>

    <insert id="InsertStudent" parameterType="com.po.Student">
        insert into student (stuName,stuAge,stuAddr) values (#{stuName},#{stuAge},#{stuAddr});
    </insert>

    <update id="updateStudent" parameterType="com.po.Student">
        update  student set stuName=#{stuName} where stuId=#{stuId};
    </update>

    <delete id="deleteStudent" parameterType="com.po.Student">
        delete from student where stuId=#{stuId};
    </delete>



    <resultMap id="MyResultMap" type="com.po.Student">
        <!--column是起的别名，property是数据库中表的属性-->
        <id column="myId" property="stuId" />
        <result column="myName" property="stuName"/>
        <result column="myAge" property="stuAge"/>
        <result column="myAddr" property="stuAddr"/>
        <result column="mySex" property="stuSex"/>
    </resultMap>

    <select id="queryByIdBieMing" parameterType="int" resultMap="MyResultMap">
        select stuId as myId ,stuName as myName,stuAge as myAge,stuAddr as myAddr,stuSex as mySex from student  where  stuId=#{myId};
    </select>



    <select id="queryByMany" parameterType="com.po.Student" resultType="com.po.Student">
        select * from student where  stuName like '%${stuName}%' and stuAge=#{stuAge};
    </select>



    <!--sql片段-->
    <sql id="sss">
      /*where会帮助我们自动屏蔽第一个and*/
        <if test="stuName!=null">
            and stuName like '%${stuName}%'
            <if test="stuAge!=null">
               and stuAge=#{stuAge};
            </if>
        </if>
    </sql>
    <select id="queryByMany2" parameterType="com.po.Student" resultType="com.po.Student">
        select * from student
        <where>
            <include refid="sss"/>
        </where>
    </select>




</mapper>