<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="bean2" class="com.Bean2">
        <property name="id" value="1"/>
        <property name="name" value="张三"/>
        <property name="password" value="123456"/>
    </bean>
    <bean id="bean3" class="com.Bean3">
        <property name="id" value="1"/>
        <property name="name" value="张三"/>
        <property name="age" value="12"/>
    </bean>
    <bean id="bean4" class="com.Bean4">
        <property name="address" value="陕西"/>
    </bean>

</beans>